@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************************************************/
/************************************************************ ACCORDION */
/************************************************************************/
#accordionStar .accordion-item .accordion-header {
	border-bottom: 1px solid #e0e0e0;
}
#accordionStar .accordion-item .accordion-collapse,
#accordionStar .accordion-item .accordion-collapse h2 {
	display: none;
}
#accordionStar .accordion-item.opened .accordion-header {
	background-color: white;
}
#accordionStar .accordion-item.opened .accordion-header button {
	color: black;
}
#accordionStar .accordion-item.opened .accordion-collapse {
	display: block;
}

/************************/
/* Sur tablettes + ordi */
/************************/
@media (min-width: 641px) {
	#accordionStar {
		position: relative;
	}
	.accordion-header {
		width: 20%;
	}
	.accordion-collapse {
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
	}
	#accordionStar .accordion-item .accordion-collapse h2 {
		display: block;
	}
}